<div class="p-5 text-white">
  <section class="ftco-section container bg-dark rounded">
    <div class="p-5">
      <div class="row mb-5">
        <h1 class="mb-4">{{ movie.title }}</h1>
        <div class="col-3">
          <img [src]="
              'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' +
              movie.poster_path
            " alt="{{ movie.title }}" width="230px" class="border border-black border-5" />
        </div>
        <div class="col-9">
          <h4>Sinopsis</h4>
          <p>{{ movie.overview }}</p>
        </div>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="col-6">
          <h2>Detalles</h2>
          <ul class="">
            <li>
              <strong>Fecha de lanzamiento:</strong>
              {{ movie.release_date | date : "dd-MM-yyyy" }}
            </li>
            <li><strong>Duración:</strong> {{ movie.runtime }} minutos</li>
            <li><strong>Presupuesto:</strong> {{ movie.budget | currency }}</li>
            <li>
              <strong>Recaudación:</strong> {{ movie.revenue | currency }}
            </li>
            <li><strong>Estado:</strong> {{ movie.status }}</li>
          </ul>
        </div>
        <div class="col-6">
          <div class="row">
            <h2>Géneros</h2>
            <div class="col-4" *ngFor="let genre of movie.genres">
              <div class="rounded bg-light-subtle m-1 p-2 text-dark text-center fw-semibold">
                {{ genre.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h2>Actores</h2>
        <div class="row m-3 flex-nowrap overflow-auto pb-3">
          <div class="bg-dark bg-gradient pt-4 m-1 col-3 text-white text-center fw-semibold"
            *ngFor="let actor of casting">
            <a [href]="'/actor?id=' + actor.id" class="link-light link-underline link-underline-opacity-0">
              <img *ngIf="actor.profile_path" [src]="actor.profile_path" [alt]="actor.name + ' poster'" width="140px"
                class="border border-2 border-black" />
              <img *ngIf="!actor.profile_path" src="/assets/defaultImage.png" alt="default poster" width="140px"
                class="border border-2 border-black" />
              <p class="m-0 mt-3"><strong>Nombre:</strong> {{ actor.name }}</p>
              <p class="m-0">
                <strong>Ocupación:</strong> {{ actor.known_for_department }}
              </p>
              <p class="m-0">
                <strong>Personaje:</strong> {{ actor.character }}
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-2">
          <h2 class="mb-3">Reseñas</h2>
        </div>
        <div class="col-3 text-end">
          <button class="btn btn-danger fs-5 fw-semibold" (click)="openReviewEditor()">
            Publicar Reseña
          </button>
        </div>
      </div>
      <div class="row p-3 m-3 justify-content-around text-center text-light">
        <div class="col-5">
          <div class="rounded bg-dark bg-gradient p-4 m-1">
            <h4>
              Espectadores:
              {{
              calculateAverageRating(spectatorReviews) == 0
              ? "Desconocida"
              : calculateAverageRating(spectatorReviews)
              }}
            </h4>
          </div>
        </div>
        <div class="col-5">
          <div class="rounded bg-dark bg-gradient p-4 m-1">
            <h4>
              Críticos:
              {{
              calculateAverageRating(criticsReviews) == 0
              ? "Desconocida"
              : calculateAverageRating(criticsReviews)
              }}
            </h4>
          </div>
        </div>
      </div>
      <div class="row justify-content-evenly">
        <div *ngFor="let reviewId of getCriticReviewIds()" class="col-4 text-light">
          <div class="row rounded bg-dark bg-gradient p-3 m-2">
            <div class="col-3">
              <img *ngIf="criticsReviews[reviewId].photoURL" [src]="criticsReviews[reviewId].photoURL"
                alt="{{ criticsReviews[reviewId].username }}" width="45px" class="rounded-circle" />
            </div>
            <div class="col-9">
              <p>
                <strong>{{ criticsReviews[reviewId].username }}
                  <span class="badge text-bg-secondary me-1">
                    {{ criticsReviews[reviewId].score }}
                  </span>
                  <span class="badge badge-critic">Círitco</span>
                </strong>
                <br />
                {{ criticsReviews[reviewId].text }}
              </p>
            </div>
            <div class="row justify-content-end">
              <div class="col-3">
                <button *ngIf="criticsReviews[reviewId].uid == this.user.uid" class="btn btn-danger"
                  (click)="deleteReview(reviewId)">
                  Borrar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let reviewId of getSpectatorReviewIds()" class="col-4 text-light">
          <div class="row rounded bg-dark bg-gradient p-3 m-2">
            <div class="col-3">
              <img *ngIf="spectatorReviews[reviewId].photoURL" [src]="spectatorReviews[reviewId].photoURL"
                alt="{{ spectatorReviews[reviewId].username }}" width="45px" class="rounded-circle" />
            </div>
            <div class="col-9">
              <p>
                <strong>{{ spectatorReviews[reviewId].username }}
                  <span class="badge text-bg-secondary me-1">
                    {{ spectatorReviews[reviewId].score }}
                  </span>
                  <span class="badge text-bg-success">Espectador</span>
                </strong>
                <br />
                {{ spectatorReviews[reviewId].text }}
              </p>
            </div>
            <div class="row justify-content-end">
              <div class="col-3">
                <button *ngIf="spectatorReviews[reviewId].uid == this.user.uid" class="btn btn-danger"
                  (click)="deleteReview(reviewId)">
                  Borrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>