<footer class="navbar navbar-expand-lg navbar-fixed-bottom navbar-dark bg-dark mt-5 p-5 text-white">
    <div class="container-fluid">
      <div class="col-1"></div>
      <div class="col-3">
        <h5>Contacto</h5>
        <p class="m-0">leo1202327&#64;gmail.com</p>
        <p class="m-0">Leonardo Alfonso Cruz Rodríguez</p>
      </div>
      <div class="col-4">
        <h5>Institución</h5>
        <p class="m-0"><strong>Máster:</strong> Ingeniería Web</p>
        <p class="m-0"><strong>Universidad:</strong> Universidad Politécnica de Madrid</p>
      </div>
      <div class="col-3">
        <h5>Links del proyecto</h5>
        <a href="https://github.com/SyTW2223/E12">Front-end</a>
        <a> | </a>
        <a href="https://github.com/SyTW2223/E12">Back-end</a><br>
        <a href="https://docs.google.com/document/d/1bBJqWNAHUp5Xb4zw1vxWcZx2iekuEOsBGd2DHy7E9EE/edit">Memoria</a>
      </div>
      <div class="col-1"></div>
    </div>
  </footer> 