<footer class="navbar navbar-expand-lg navbar-fixed-bottom navbar-dark bg-dark mt-5 p-5 text-white">
    <div class="container-fluid">
      <div class="col-1"></div>
      <div class="col-3">
        <h5>Contact</h5>
        <p class="m-0">leo1202327&#64;gmail.com</p>
        <p class="m-0">Leonardo Alfonso Cruz Rodríguez</p>
      </div>
      <div class="col-4">
        <h5>Institution</h5>
        <p class="m-0"><strong>Master:</strong> Ingeniería Web</p>
        <p class="m-0"><strong>University:</strong> Universidad Politécnica de Madrid</p>
      </div>
      <div class="col-3">
        <h5>Project links</h5>
        <a> Repository links: </a>
        <a href="https://github.com/alu0101233093/TFM_Frontend">Front-end</a>
        <a> | </a>
        <a href="https://github.com/alu0101233093/TFM_Backend">Back-end</a><br>
        <a href="https://docs.google.com/document/d/1bBJqWNAHUp5Xb4zw1vxWcZx2iekuEOsBGd2DHy7E9EE/edit">Memory</a>
        <a> | </a>
        <a href="https://www.themoviedb.org/">API server</a>
        <a> | </a>
        <a href="https://tfm-backend-ozbf.onrender.com/docs/">Back-end docs</a>
      </div>
      <div class="col-1"></div>
    </div>
  </footer> 