<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" (onClick)="showButtons = true">
            <img src="/assets/clapperboard.png" width="30" height="30" class="d-inline-block align-top" alt="">
            MovieMeter
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="d-flex" role="search">
                    <input [(ngModel)]="query" id="query" class="form-control" placeholder="Movie title" aria-label="Search" (keydown)="handleKeyDown($event)">
                    <button class="btn btn-danger ms-3" (click)="search()">
                      <img src="/assets/magnifying-glass.png" alt="search icon">
                    </button>
                </div>
            </div>
            <a *ngIf="!this.userLogged && !showButtons" class="btn btn-danger m-1" href="/home" (onClick)="showButtons = true">Home page</a>
            <a *ngIf="!this.userLogged && showButtons" class="btn btn-danger m-1" href="/login" (onClick)="showButtons = false">LogIn</a>
            <a *ngIf="!this.userLogged && showButtons" class="btn btn-danger m-1" href="/signup" (onClick)="showButtons = false">SignUp</a>
            <a *ngIf="this.userLogged" class="btn btn-danger m-1 user-info" href="/profile">
                <img src="{{this.user.photoURL}}" alt="User Image" class="user-image">
                Profile
            </a>
      </div>
    </div>
  </nav>