<div class="p-5 text-white">
    <section class="ftco-section container bg-dark rounded">
        <div class="p-5">
            <div class="row mb-5">
                <h1 class="mb-4">{{ profile.name }}</h1>
                <div class="col-3">
                    <img *ngIf="profile.profile_path" 
                    [src]="'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' + profile.profile_path"
                    alt="{{ profile.name }}" width="230px" class="border border-black border-5">
                    <img *ngIf="!profile.profile_path" src="assets/defaultImage.png" 
                    alt="default poster" width="230px" class="border border-black border-5">
                </div>
                <div class="col-9">
                    <h4>Biografy</h4>
                    <p>{{ profile.biography }}</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h2>Information</h2>
                    <ul class="">
                        <li><strong>Birthday:</strong> {{ profile.birthday| date: 'dd-MM-yyyy' }}</li>
                        <li *ngIf="profile.deathday"><strong>Deathday:</strong> {{ profile.deathday | date:'dd-MM-yyyy' }}</li>
                        <li><strong>Gender:</strong> {{ profile.gender }}</li>
                        <li><strong>Occupation:</strong> {{ profile.known_for_department }}</li>
                        <li><strong>Place of birth:</strong> {{ profile.place_of_birth }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <h2>Movies</h2>
                        <div class="row m-3 flex-nowrap overflow-auto">
                          <div class="bg-dark pt-3 m-1 col-3 text-white text-center fw-semibold" 
                          *ngFor="let movie of this.movies">
                            <a [href]="'/movie?id=' + movie.id" class="link-light link-underline link-underline-opacity-0">
                              <img *ngIf="movie.poster_path" [src]="movie.poster_path" [alt]="movie.title + ' poster'" width="200px" class="border border-2 border-black">
                              <img *ngIf="!movie.poster_path" src="assets/defaultImage.png" alt="default poster" width="200px" class="border border-2 border-black">
                              <p *ngIf="!movie.poster_path" class="link-danger link-underline-opacity-0">{{movie.title}}</p>
                            </a>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </section>
</div>