<div class="p-5 text-white">
    <section class="ftco-section container bg-dark rounded">
        <div class="p-5">
            <div class="row mb-5">
                <h1 class="mb-4">{{ actorData.name }}</h1>
                <div class="col-3">
                    <img *ngIf="actorData.profile_path" 
                    [src]="'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' + actorData.profile_path"
                    alt="{{ actorData.name }}" width="230px" class="border border-black border-5">
                    <img *ngIf="!actorData.profile_path" src="/assets/defaultImage.png" 
                    alt="default poster" width="230px" class="border border-black border-5">
                </div>
                <div class="col-9">
                    <h4>Biografía</h4>
                    <p>{{ actorData.biography }}</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h2>Información</h2>
                    <ul class="">
                        <li><strong>Fecha de nacimiento:</strong> {{ actorData.birthday| date: 'dd-MM-yyyy' }}</li>
                        <li *ngIf="actorData.deathday"><strong>Fecha de muerte:</strong> {{ actorData.deathday | date:
                            'dd-MM-yyyy' }}</li>
                        <li><strong>Género:</strong> {{ actorData.gender }}</li>
                        <li><strong>Ocupación:</strong> {{ actorData.known_for_department }}</li>
                        <li><strong>Lugar de nacimiento:</strong> {{ actorData.place_of_birth }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <h2>Películas</h2>
                        <div class="row m-3 flex-nowrap overflow-auto">
                          <div class="bg-dark pt-3 pb-4 m-1 col-3 text-white text-center fw-semibold" 
                          *ngFor="let movie of this.movies">
                            <a [href]="'/movie?id=' + movie.id" class="link-light link-underline link-underline-opacity-0">
                              <img *ngIf="movie.poster_path" [src]="movie.poster_path" [alt]="movie.title + ' poster'" width="200px" class="border border-2 border-black">
                              <img *ngIf="!movie.poster_path" src="/assets/defaultImage.png" alt="default poster" width="200px" class="border border-2 border-black">
                              <p *ngIf="!movie.poster_path" class="link-danger link-underline-opacity-0">{{movie.title}}</p>
                            </a>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </section>
</div>