.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .movie-card {
    margin: 1%;
    text-align: center;
    width: 16%; /* Ajusta el ancho según sea necesario */
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }

  .search-title {
    margin-top: 3%;
    margin-left: 10%;
    color: white;
  }