<h2 *ngIf="results.length != 0" class="search-title">Resultados para: {{this.query}}</h2>
<h2 *ngIf="results.length == 0" class="search-title">No se encuentran resultados para: {{this.query}}</h2>
<div class="movie-list">
    <div *ngFor="let movie of results" class="movie-card">
        <a [href]="'/movie?id=' + movie.id" class="link-danger link-underline-opacity-0">
            <img *ngIf="movie.poster_path" [src]="movie.poster_path" class="movie-poster" [alt]="movie.title + ' poster'">
            <img *ngIf="!movie.poster_path" src="/assets/defaultImage.png" class="movie-poster" alt="default poster">
            <p *ngIf="!movie.poster_path" class="">{{movie.title}}</p>
        </a>  
    </div>
</div>