<h2 *ngIf="movies.length != 0" class="search-title">Results for: {{this.query}}</h2>
<h2 *ngIf="movies.length == 0" class="search-title">No results for: {{this.query}}</h2>
<div class="movie-list">
    <div *ngFor="let movie of movies" class="movie-card">
        <a (click)="navigateMovie(movie.id)" class="link-danger link-underline-opacity-0 fw-semibold clickable">
            <img *ngIf="movie.poster_path" [src]="movie.poster_path" [alt]="movie.title + ' poster'">
            <img *ngIf="!movie.poster_path" src='assets/defaultImage.png' alt="default poster">
            <p *ngIf="!movie.poster_path" class="">{{movie.title}}</p>
        </a>  
    </div>
</div>