<div class="container rounded bg-dark mt-5 text-white">
    <div class="text-center pt-5">
        <h1 class="text-right">User profile</h1>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 position-relative">
                <img class="rounded-circle mt-3" width="150px" [src]="userProfile.photoURL">
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none" />
            </div>
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="labels">Username</h5>
                        <input type="text" class="form-control" [(ngModel)]="this.editedUserProfile.displayName"
                            [disabled]="this.readMode" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h5 class="labels">Email</h5>
                        <input type="text" class="form-control" [(ngModel)]="this.editedUserProfile.email"
                            [disabled]="this.readMode" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h5 class="labels">Role</h5>
                        <input type="text" class="form-control" [value]="userProfile.emailVerified ? 'Critic' : 'Spectator'" disabled>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="m-5 text-center">
            <p *ngIf="uploadedFile">Uploaded file: {{uploadedFile.name}}</p>
            <button *ngIf="readMode" class="btn btn-danger m-1" (click)="changeMode()">
                Edit profile
            </button>
            <button *ngIf="!readMode" class="btn btn-danger m-1" (click)="changeMode()">
                Cancel
            </button>
            <button *ngIf="!readMode" class="btn btn-danger m-1" (click)="fileInput.click(); onFileSelected($event)">
                Change photo
            </button>
            <button *ngIf="!readMode" class="btn btn-danger m-1" (click)="updateProfile()">
                Save changes
            </button>
            <button *ngIf="readMode" class="btn btn-danger m-1" (click)="requestVerification()">
                Request verification
            </button>
            <button *ngIf="readMode" class="btn btn-danger m-1" (click)="deleteAccount()">
                Delete account
            </button>
            <button *ngIf="readMode" class="btn btn-danger m-1" (click)="logOut()">
                LogOut
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>