<div class="container">
    <h2>Casting</h2>
    <div class="row m-3 flex-nowrap overflow-auto pb-3">
      <div class="bg-dark bg-gradient pt-4 m-1 col-3 text-white text-center fw-semibold"
        *ngFor="let actor of casting">
        <a [href]="'/actor?id=' + actor.id" class="link-light link-underline link-underline-opacity-0">
          <img *ngIf="actor.profile_path" [src]="actor.profile_path" [alt]="actor.name + ' poster'" width="140px"
            class="border border-2 border-black" />
          <img *ngIf="!actor.profile_path" src="/assets/defaultImage.png" alt="default poster" width="140px"
            class="border border-2 border-black" />
          <p class="m-0 mt-3"><strong>Name:</strong> {{ actor.name }}</p>
          <p class="m-0">
            <strong>Occupation:</strong> {{ actor.known_for_department }}
          </p>
          <p class="m-0">
            <strong>Character:</strong> {{ actor.character }}
          </p>
        </a>
      </div>
    </div>
  </div>